<!DOCTYPE html>
<html lang="en">

<head>
    <title> List of states for UC-B</title>
</head>

<body>
       
    <div class="table-data">
        <h2>STATES UC-B</h2>
        <table border="1">
            <tr>
                <th>State Number</th>
                <th>State Description</th>
                <th>Big Head</th>
                <th>Send event OK</th>
                <th>Send event NOK</th>
            </tr>

            <% if(statData.length!=0){ var i=1; statData.forEach(function(data){ %>
               
                <tr>
                    <td>
                        <%-data.stat_numb %>
                    </td>
                    <td>
                        <%-data.stat_descr %>
                    </td>
                    <td>
                        <%-data.bh %>
                    </td>
                    
                    <td><a href="/tasks/tasks-state?status=OK&statnum=<%-data.stat_numb %>&bh=<%-data.bh %>&descr=<%-data.stat_descr %>">Send mission OK</a></td>
                    <td><a href="/tasks/tasks-state?status=NOK&statnum=<%-data.stat_numb %>&bh=<%-data.bh %>&descr=<%-data.stat_descr %>">Send mission NOK</a></td>
                    <!--td><a href="/orders/delete/<%=data.id%>">Delete</a></td-->
                </tr>
                <% i++; }) %>
                    <% } else{ %>
                        <tr>
                            <td colspan="7">No Data Found</td>
                        </tr>
                        <% } %>
        </table>
    </div>
    
</body>

</html>